Package: com.sassoty.albumshot
Name: AlbumShot
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Different albums per app screenshots
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
Depiction: http://repo.sassoty.com/deps.php?pkg=com.sassoty.albumshot
Version: 0.0.1-29+debug
Installed-Size: 148
